header{
	background-color: rgba($white, 0.7);
	@include position(absolute, $left:0, $top:0, $right:0);
	z-index: 999;
	padding: 30px 0px;
	li{
		padding: 10px 25px;
	}
	a{
		color: $pink;
		font-size: 14px;
		text-transform: uppercase;
	}
	.logo{
		@include position(absolute, $left:50%, $top:50%);
		@include transform(translate(-50%, -50%));
	}
}
a{
	font-family: $font-quicksandBold;
}
.logo{
	padding: 10px 15px;
	img{
		width: 150px;
	}
}
li{
	display: inline-block;
	padding: 0px 5px;
}	
.menu{
	&-left, &-right{
		width: 50%;
	}
	&-left{
		float: left;
		text-align: right;
		padding-right: 6rem;
	}
	&-right{
		float: right;
		text-align: left;
		padding-left: 6rem;
	}
}
/*nav{
	@include display-flex;
	@include justify-content(flex-end);
	a{
		color: $white;
		display: inline-block;
		font: {
			family:$font-quicksandBold;
			size: 14px;
		}
		letter-spacing:1px;
		padding:10px 15px;
		text-transform: uppercase;
	}
	.has-menu{
		position: relative;
		&:before{
			content:"\f107";
			font: {
				family:$font-awesome;
				size:16px;
			}
			@include position(absolute, $right: 0, $top: 50%);
			@include transform(translateY(-50%));
		}
	}
	li{
		position: relative;
		&:hover{
			background-color: $deep-cerise;
			>ul{
				display:block;
				opacity: 1;
				visibility: visible;
				top: 50px;
			}
		}
		ul{
			background-color: rgba($black, 0.7);
			display: none;
			opacity: 0;
			visibility: hidden;
			width: 160px;
			@include position(absolute, $left:0, $top:30px);
			@include transition(all 0.25s ease-in-out);
		}
		li{
			display: block;
			text-align: left;
		}
	}
}*/