section{
	padding-bottom: 40px;
}
.popUp{
	display: none;
	@include position(fixed, $left: 0, $right: 0, $top:0, $bottom:0);
	background-color: rgba(0, 0, 0, 0.5);
	&-inner{
		@include position(absolute, $left: 50%, $top:50%);
		@include transform(translate(-50%, -50%));
		background-color: $white;
		max-width: 400px;
		width: 100%;
		padding: 20px;
		input{
			margin-bottom: 20px;
			width: 100%;
		}
	}
}
.popClose{
	@include position(absolute, $right: -10px, $top:-10px);
	background-color: $white;
	@include border-radius(50%);
	@include width-height(20px, 20px);
	font-size: 10px;
	line-height: 20px;
	text-align: center;
	cursor: pointer; 
}
.card-col{
	display: block;
	@include box-shadow(-1px 2px 20px #ccc);
	&-img{
		overflow:hidden;
		position:relative;
	}
	&-content{
		color: $black;
		padding: 15px 15px 0px;
		background-color: $white;
	}
	img{
		@include transition(0.5s all ease-in-out);
		@include filter(grayscale(100%));
	}
	&:hover{
		img{
			@include transform(scale(1.1))
			@include filter(grayscale(0%));
		}
		.hoverCaption{
			opacity:1;
			visibility:visible;
		}
	}
}
.hoverCaption{	
	@include display-flex;
	@include justify-content(center);
	@include align-items(center);
	//background-color:rgba($black, 0.8);
	@include position(absolute, $left: 0, $top:0, $right:0, $bottom:0);
	@include transition(all 0.5s ease-in-out);
	opacity:0;
	visibility:hidden;
	h4{
		color: #1d1c1c;
	    background: #e1e1e1a8;
	    padding: 2px 8px;
	}
}
.title{
	&-wrapper{
		margin: 0 auto 40px;
		max-width: 700px;
		text-align: center;
		p{
			padding-bottom: 0px;
		}
	}
}
h2{
	span{
		background-color: #8ec6a0;
		color: white;
		display: inline-block;
		padding-right: 12px;
	}
}
.justify{
	max-width: 900px;
	p{
		padding-bottom: 20px;
	}
}
.service{
	&-card{
		&-row{
			justify-content: center;
		}
		&-col{
			background-color: white;
			margin:0px -5px 15px;
			padding:25px;
			text-align: center;
			>:last-child{
				padding-bottom:0px;
			}
			h4{
				padding-bottom: 12px;
			    border-bottom: 1px solid #cecccc;
			    margin-bottom: 12px;
			    margin: 0px 20px 12px;
			}
			@include border-radius(5px);
			@include box-shadow(-1px 2px 20px #8ec6a05e);
			@include transition(all 0.30s ease-in-out);
			cursor:pointer;
			position: relative;
			@include transform(translateY(0px))
			&:hover{
				@include transform(translateY(-4px))
			}
		}
	}
}
.generic-list{
	li{
		position: relative;
		padding: 0px 20px 4px;
		&:before{
			content: "\F111";
		    font-family: FontAwesome;
		    font-size: 5px;
		    position: absolute;
		    top: 2px;
		    left: 0;
		}
	}
}
.testimonial{
	max-width: 600px;
	margin: 0 auto;
	&-card{
		text-align: center;
		img{
			width: 150px;
			height: 150px;
			object-fit: cover;
			border-radius: 50%;
			margin:0 auto 20px;
		}
	}
}

.slick{
	&-dots{
		text-align: center;
		li{
			background-color: #fff;
			cursor: pointer;
		    display: inline-block;
		    margin: 0 10px;
		    border-radius: 100%;
		    width: 10px;
		    height: 10px;
			&.slick-active{
				background-color: #e42828;
			}
		}
		button{
			display: none;
		}
	}
	&-prev, &-next{
		background-color: transparent!important;
	    border:none!important;
	    font-size: 0px!important;
	    border-radius: 0px!important;
	    position: absolute;
	    top: 50%;
	    @include transform(translateY(-50%));
	    z-index: 999;
	    &:before{
	    	 font-family: "slick"; 
	    	 font-size: 40px; 
	    	 line-height: 1; 
	    	 color: red; 
	    	 opacity: 0.75; 
	    	 -webkit-font-smoothing: antialiased;
	    	  -moz-osx-font-smoothing: grayscale; 
	    }
	}
	&-prev{
		&:before {
		 	content: "‹"; 
		 }
	}
	&-next{
		right: 0px;
		&:before {
		 	content: "›"; 
		 }
	}
}
 button:focus {outline:0;}
 figure{
 	margin: 0px;
 }
.gray-bg{
	background-color: #333332;
	padding: 40px 0px 30px;
	text-align: center;
	h2{
		font-size: 55px;
		line-height: 61px;
	}
	h2, h3, h4, p{
		color: white;
	}
	.button{
		&:hover{
			color: white;
			border-color: white;
		}
	}
}
.footer{
	background-color: white;
	padding: 40px 0px 20px;
	font-size: 14px;
	letter-spacing: 0.5px;
	h4{
		padding-bottom: 10px;
	}
	a{
		color: #8ec6a0;
		&:hover{
			color:$black;
		}
	}
	&-menu{
		li{
			display: block;
		}
		a{
			text-transform: uppercase;
		}
	}
	p{
		text-align: center;
	}
	.social{
		font-size: 20px;
		a{
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid #8ec6a0;
			border-radius: 50%;
			margin: 0px 5px;
			@include transition(all 0.30s ease)
			&:hover{
				border-color: $black;
			}
		}
	}
}
.two-col{
	&-tile {
	    background-color: #fff;
	    .tile-padding{
	    	padding: 60px;
		    display: -webkit-flex;
		    display: flex;
		    -webkit-flex-direction: column;
		    flex-direction: column;
		    -webkit-justify-content: center;
		    justify-content: center;
	    }
	    &:nth-of-type(2n) {
		    -webkit-flex-direction: row-reverse;
		    flex-direction: row-reverse;
		}
		[class*=col] {
		    position: relative;
		    min-height: 425px;
		}
	}
}
.tile-img > img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}
.link-type {
    color: #f16067;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 20px 10px 0;
    text-decoration: none !important;
    text-transform: uppercase;
    position: relative;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    &:after {
	    content: "\f061";
	    font-family: "FontAwesome";
	    font-size: 14px;
	    vertical-align: middle;
	    padding-left: 7px;
	    position: relative;
	    top: -1px;
	}
}
.theme-layer{
	padding: 40px 0px;
	margin-bottom: 40px;
	background-color: #8ec6a0bf;
	h3{
		font-size: 60px;
		line-height: 64px;
	}
}
.popup{
	&-outer{
		@include position(fixed, $left:0, $top: 0, $bottom:0, $right:0);
		background-color: rgba(0, 0, 0, 0.3);
		@include justify-content(center);
		@include align-items(center);
		display: none;
		opacity: 0;
		visibility: hidden;
		@include transition(opacity 0.5s ease);
		z-index: 999;
		&.open{
			display: flex;
			opacity: 1;
			visibility: visible;
		}
	}
	&-inner{
		background-color: white;
		padding: 40px;
		max-width: 450px;
		width: 100%;
		border-radius: 10px;
		position: relative;
		.form-row{
			position: relative;
			margin-bottom: 20px;
		}
		h4{
			text-align: center;
    		padding-bottom: 20px;
		}
		i{
			@include position(absolute, $left:15px, $top: 50%);
			@include transform(translateY(-50%));
			font-size: 16px;
			color: #8ec6a0bf;
			&.fa-user{
				font-size: 20px;
			}			
			&.fa-comment{
				top: 15px;
				@include transform(inherit);
			}
			&.fa-times-circle{
				top: 15px;
				left: inherit;
				right: 15px;
				font-size: 30px;
				@include transform(inherit);
				cursor: pointer;
				&:hover{
					color:$black;
				}
			}
		}
		textarea{
			min-height: 120px;
		}
		input, textarea{
		    width: 100%;
		    padding: 7px 40px;
		    background-color: transparent;
		    font-size: 16px;
		    border: 1px solid $light-gray!important;
		    border-radius: 4px!important;
		}
	}
}
.quote{
	position: relative;
	padding-left: 40px;
	font-style: italic;
	i{
		top: 0px;
		@include transform(inherit);
		font-size: 20px;
	}
}
.welcome{
	margin-top: -180px;
	p{
		padding-top: 60px;
	}
}
@media screen and (max-width: 1200px){
	.two-col-tile [class*=col] {
	    min-height: auto;
	}
}
@media screen and (max-width: 768px){
	.tile-img > img {
	    position: relative;
	    min-height: 300px;
	    object-fit: cover;
	    width: 100%;
	    object-position: center;
	}
}
::-webkit-input-placeholder { /* Edge */
  color: rgba(0, 0, 0, 0.2);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.2);
}

::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  color: #402d2d;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #402d2d;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, "EB Garamond", serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}
.underlined {
    background-image: url("#{$relative-path}/img/underline-medium.png");
    background-size: 100% 1.4em;
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-left: -20px;
    padding-right: 20px;
    margin-right: -20px;
    color: inherit;
    text-decoration: inherit;
}
body{
	overflow-x: hidden;
}
.theme-layer2{
	padding: 30px 15px;
    background: #8ec6a8;
    overflow: hidden;
    h3{
    	padding-bottom: 0px;
    }
    .content{
    	max-width: 800px;
    	margin: 0 auto;
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
    }
    h3{
    	color: white;
    	font-size: 40px;
    }
    .button{
    	color: white;
    	border-color: white;
    	&:hover{
    		color: $black;
    		border-color: $black;
    	}
    }
}